# Lombok config file, applied to all sub folders.
# Check https://projectlombok.org/features/configuration for more info.

# Stops lombok from looking at parent directories for more configuration files.
config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
